<div class="container">
	<div class="card card-block bg-faded">
		<%= @todos.each do |todo| %>
			<%= todo.description %>
			<%= link_to 'Marcar como completado', todo_complete_path(todo) %> 
			<%= link_to 'Mostrar', todo %>
			<%= link_to 'Editar', todo_edit_path(todo) %>
			<%= link_to "Borrar", todo, method: :delete %> 
		<% end %>
	</div>
	<%= link_to 'Crear Todo', todos_new_path %>
</div>





