<div class="card card-block bg-faded">
	<%= @todos.each do |todo| %>
		<%= todo.description %>
		<%= link_to 'Mostrar', todo %>
		<%= link_to 'Editar' %>
		<%= link_to "Borrar", todo, method: :delete %> 
	<% end %>
</div>

<%= link_to 'Crear Todo', todos_new_path %>



